<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KARTHIK | AK</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://akkarthikk.github.io/port/public/styles/css.css">
  </head>
  <style>
   /* body {user-select: none;background-color: #d2dddd;}*/
     body {
      user-select: none;
    }
    ::-webkit-scrollbar {
  width: 0px;
}
    .nav-pills .nav-link.active {
      background-color: #aadbe3;
      padding-left: 4px;
      padding-right: 4px;
      margin-bottom: 1px;
      margin-right: 4px;
      box-shadow: inset 0 -1px 1px rgba(var(--bs-body-color-rgb), 0.15),0 0.25rem 1.5rem rgba(var(--bs-body-bg-rgb), 0.75);
    }
    .nav-pills :hover {
      background-color: #aadbe3;
      border-radius: 5px;
    }
  </style>
  <body>
    <section id="header">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <span class="fs-2 px-4">KARTHIK AMBARAGONDA</span>
        </a>
        <ul class="nav nav-pills">
         <li class="nav-item">
            <a href="/" class="nav-link" style="color: black" >Profile</a>
         </li>&nbsp;&nbsp;
          <li class="nav-item">
            <a href="https://github.com/karthikambaragonda?tab=repositories" class="nav-link" style="color: black" >Repositories</a>
          </li>&nbsp;&nbsp;
          <li class="nav-item">
            <a href="/projects" class="nav-link" style="color: black">Projects</a>
          </li>&nbsp;&nbsp;
        </ul>
      </header>
    </section>
  </body>
</html>
