<%- include("partials/header.ejs") -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="KARTHIK AMBARAGONDA">
    <meta property="og:description" content="My Portfolio">
    <meta property="og:image" content="https://raw.githubusercontent.com/karthikambaragonda/portfolio-main/651afdde04749c00b9c3e487eba762f0fd03b46b/public/images/p1.jpg">
    <meta property="og:url" content="https://karthik-portfolio.onrender.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../public/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="../public/images/favicon.svg" />
<link rel="shortcut icon" href="../public/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="../public/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="../public/images/site.webmanifest" />
<style>
  /* Container styles */
  #icon-grid {
    max-width: 1200px;
    margin: auto;
  }body {
    font-family: 'Poppins', sans-serif;
  }
  

  /* Section headings */
  #icon-grid h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #222;
  }

  #icon-grid h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 2px solid #929394;
    padding-bottom: 0.3rem;
  }

  /* Grid row spacing */
  .row {
    margin-top: 1rem;
  }

  /* Each skill card */
  .col.d-flex {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 12px 15px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: default;
  }
/* Add horizontal gap between skill cards */
.row > .col.d-flex {
  margin-right: 15px; /* space between horizontally */
}

/* Remove margin-right for last item in each row to avoid overflow */
.row > .col.d-flex:nth-child(5n) {
  margin-right: 0;
}

  /* Hover effect */
  

  /* Icon spacing */
  .flex-shrink-0 {
    margin-right: 12px;
  }

  /* Skill name styling */
  .text-body-emphasis {
    color: #333;
  }

  /* Responsive grid spacing */
  @media (max-width: 576px) {
    #icon-grid h1 {
      font-size: 2rem;
    }

    #icon-grid h4 {
      font-size: 1.25rem;
    }
  }
</style>
    <script>
     document.addEventListener("DOMContentLoaded", function () {
  const zoomElement = document.querySelector(".zoom-effect");
  if (zoomElement) {
    zoomElement.classList.add("hover");
    setTimeout(() => {
      zoomElement.classList.remove("hover");
    }, 700);
  }
});

    </script>
        <style>.zoom-effect {
    transition: transform 0.3s;
  }
  body{ background-color: #d1d1d1;
background-image: url("../images/connected.png");}
.zoom-effect {
    transition: rotate 600ms,scale 0.5s;
  }

  .zoom-effect.hover {
    /*transform: scale(1.3);*/
    rotate: y 1turn;
    scale: 1.05;
  }
  
  .custom-img-size {
    width: 300px; 
    height: 300px;
  }
  @media (max-width: 980px) {
    .custom-img-size {
      width: 200px;
      height: 200px;
    }
  }
</style>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
            var video = document.getElementById("video");
            if (video) {
                video.playbackRate = 3;
            }
        });
    </script>
  </head>
  <body style="background-color: #ffffff;background-image:url(../images/connected.png);">
    <section id="background">
      <!-- <video id="video" autoplay muted preload="auto">
        <source src="/images/bg (1).mp4" type="video/mp4" />
      </video> -->
    </section>
    <section id="body">
      <div class="container col-xxl-9 px-3">
        <div class="row flex-lg-row align-items-center g-4 py-4">
          <div class="col-10 col-sm-6 col-lg-5">
           <img
  src="/images/p1.jpg"
  draggable="false"
  class="p zoom-effect d-block mx-lg-auto img-fluid rounded-circle custom-img-size"
  alt="karthik"
  loading="eager"
/>
          </div>
          <div class="col-lg-7" style="text-wrap: balance;">
            <h1 class="display-5 fw-bold text-body-emphasis lh-2 mb-4">
              <span style="font-family: Poppins, Sans-serif">KARTHIK</span>
            </h1>
            <h3>About Me</h3>
            <!-- <i>
              I am <b>Computer Science</b> <br />
              student at the SR University.<br />
              I am Interested in <b>Web Development.</b> I aspire to <br />
              become a <b>full-stack web <br />developer</b>
            </i> -->
            <!-- <i>I am a Computer Science student at SR University, deeply interested in web development and aspiring to become a &nbsp;full-stack web developer.With apassion for creating dynamic and responsivewebsites,I have a solid foundation in technologies like HTML, CSS, JavaScript, React, Node.js, Express.js and MongoDB. I enjoy solving problems through code and turninginnovative ideas into functional, visuallyengaging web applications. I am always eagerto learn and expand my skill set in full-stack development.</i>
            <br /><br /> -->
            <!-- <i>I am a <b>Computer Science student</b> at <b>SR University</b>, deeply interested in web development and aspiring to become a full-stack web developer. <br>With a passion for creating dynamic and responsive websites, I have a solid foundation in technologies like <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>React Js</b>, <b>Node.js</b>, <b>Express.js</b>, and <b>MongoDB</b>. I enjoy solving problems through code and turning innovative ideas into functional, visually engaging web applications. I am always eager to learn and expand my study and skills in full-stack development.</i> -->
            <!-- <i>I’m a <b>Computer Science student</b> at <b>SR University</b> with a real passion for full-stack web development.<br>
              I’ve built a solid foundation in frontend technologies like <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, and <b>React.js</b>, along with backend experience using <b>Node.js</b> and <b>Express.js</b>.<br>
              I’m comfortable working with <b>MongoDB</b> and <b>SQL</b> to manage databases.<br>
              I love tackling problems through code and creating web apps that are not only functional but also visually engaging and responsive.<br>
              I’m always excited to learn more and grow my skills to turn new ideas into reality.</i>
            <br /><br /> --><i>I’m a <b>Computer Science student </b>with a strong interest in full-stack development.I enjoy building web applications that are not just functional but also smooth, user-friendly, and meaningful.I love solving real-world problems through code and constantly look for ways to improve and grow.Turning ideas into reality and creating things that make a difference is what keeps me motivated.
</i>
<br /><br />

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill=""
              class="bi bi-geo-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"
              />
            </svg>
            Warangal, Telangana, India.
          </div>
        </div>
      </div>
      
      <div class="container px-4 py-6" id="icon-grid">
        <h3 class="mt-5">Education</h3>
      
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-1 g-4 py-2">
          <!-- SR University -->
          <div class="col d-flex align-items-center">
            
            <div>
              <h3 class="mb-0 fs-6 text-body-emphasis">SR University</h3>
              <small class="text-muted">B.Tech - Computer Science and Engineering</small><br/>
              <small class="text-muted">2022 - Present</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container px-4 py-6" id="icon-grid">
        <br>
        <h2>Skills</h2>
      
        <!-- Programming Languages -->
        <h4 class="mt-4 mb-3">Programming Languages</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-2">
          <!-- Java -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" width="24" height="24" class="me-2" alt="Java"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">Java</h3>
          </div>
      
          <!-- Python -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="24" height="24" class="me-2" alt="Python"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">Python</h3>
          </div>
      
          <!-- JavaScript -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="24" height="24" class="me-2" alt="JavaScript"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">JavaScript</h3>
          </div>
      
          <!-- HTML5 -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="24" height="24" class="me-2" alt="HTML5"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">HTML5</h3>
          </div>
      
          <!-- CSS -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="24" height="24" class="me-2" alt="CSS3"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">CSS</h3>
          </div>
        </div>
      
        <!-- Frameworks & Libraries -->
        <h4 class="mt-5 mb-3">Frameworks & Libraries</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-2">
          <!-- React -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="24" height="24" class="me-2" alt="React"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">React</h3>
          </div>
          <div class="col d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.45em" height="1.45em" viewBox="0 0 256 256" class="flex-shrink-0">
              <path fill="#000" d="M0 133.2h60.8v-10.9H11.4V72.3H0v60.9Zm81.3-15.6L98 134.2h13.1l-21.7-23.6L111.1 72H97.7l-14.2 19.5l-14.1-19.5H56.9l22.8 31.7l-21.6 23.6h13.1l16.9-16.6Zm91.3 6.1c-10.6 0-19.2-8.6-19.2-19.2s8.6-19.2 19.2-19.2s19.2 8.6 19.2 19.2s-8.6 19.2-19.2 19.2Zm0 11.8c17.1 0 31-13.9 31-31s-13.9-31-31-31s-31 13.9-31 31s13.9 31 31 31Zm41.5-2.9c0 8.2 6.6 14.9 14.9 14.9c8.2 0 14.9-6.6 14.9-14.9c0-8.2-6.6-14.9-14.9-14.9c-8.2 0-14.9 6.6-14.9 14.9Zm14.9-8.5c4.7 0 8.5 3.8 8.5 8.5c0 4.7-3.8 8.5-8.5 8.5s-8.5-3.8-8.5-8.5c0-4.7 3.8-8.5 8.5-8.5Z"/>
            </svg>
            <h3 class="mb-0 fs-6 text-body-emphasis">Express.js</h3>
          </div>
          <!-- Angular -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" width="24" height="24" class="me-2" alt="Angular"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">Angular</h3>
          </div>
      
          <!-- NodeJS -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" width="24" height="24" class="me-2" alt="NodeJS"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">NodeJS</h3>
          </div>

          <div class="col d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.45em" height="1.45em" class="flex-shrink-0">
              <path fill="#38B2AC" d="M128 0C93.867 0 74.667 19.2 70.4 57.6c12.8-19.2 27.733-25.6 44.8-19.2 9.6 3.2 16 11.2 23.467 19.733C149.333 72 158.4 80 172.8 80c19.2 0 32-12.8 38.4-38.4-12.8 19.2-27.733 25.6-44.8 19.2-9.6-3.2-16-11.2-23.467-19.733C138.667 8 129.6 0 128 0zm-64 64C29.867 64 10.667 83.2 6.4 121.6 19.2 102.4 34.133 96 51.2 102.4c9.6 3.2 16 11.2 23.467 19.733C83.2 132.8 92.267 144 106.667 144c19.2 0 32-12.8 38.4-38.4-12.8 19.2-27.733 25.6-44.8 19.2-9.6-3.2-16-11.2-23.467-19.733C73.067 72 64 64 64 64z"/>
            </svg>
            <h3 class="mb-0 fs-6 text-body-emphasis">Tailwind CSS</h3>
          </div>
          <!-- Bootstrap -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" width="24" height="24" class="me-2" alt="Bootstrap"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">Bootstrap</h3>
          </div>
        </div>
      
        <!-- Tools & Databases -->
        <h4 class="mt-5 mb-3">Tools & Databases</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-2">
          <!-- API -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1486/1486461.png" width="24" height="24" class="me-2" alt="API"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">API</h3>
          </div>
      <div class="col d-flex align-items-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="1.45em" height="1.45em" viewBox="0 0 256 272" class="flex-shrink-0">
    <path fill="#336791" d="M130.59 0C57.262 0 0 51.535 0 114.91c0 42.688 28.763 79.48 70.125 97.246C66.1 228.847 58.075 246.145 49.52 259.27c0 0 13.815-1.015 33.145-17.193c15.942 4.758 33.247 7.23 51.08 7.23c73.325 0 130.592-51.538 130.592-114.91C264.336 51.538 207.07 0 133.74 0h-3.15z"/>
  </svg>
  <h3 class="mb-0 fs-6 text-body-emphasis">PostgreSQL</h3>
</div>
          <!-- Git -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" width="24" height="24" class="me-2" alt="Git"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">Git</h3>
          </div>
      
          <!-- GitHub -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="24" height="24" class="me-2" alt="GitHub"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">GitHub</h3>
          </div>
      
          <!-- VSCode -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" width="24" height="24" class="me-2" alt="VSCode"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">VSCode</h3>
          </div>
      
          <!-- MongoDB -->
          <div class="col d-flex align-items-center">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" width="24" height="24" class="me-2" alt="MongoDB"/>
            <h3 class="mb-0 fs-6 text-body-emphasis">MongoDB</h3>
          </div>
          <div class="col d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="1.45em" height="1.45em" class="flex-shrink-0">
              <path fill="#00758F" d="M255.7 127.9C255.7 57.2 198.5 0 127.8 0S0 57.2 0 127.9s57.2 127.9 127.9 127.9s127.8-57.2 127.8-127.9z"/>
              <path fill="#fff" d="M88.3 115.2c9.6 4.7 18.9 8.8 28.5 13.5c5.6 2.7 11.2 6.2 17.1 7.6c9.9 2.2 19.6 2.6 29.4-.8c7.1-2.4 14.2-5.6 20.9-9.1c-5.2 11.5-13.3 19.9-24.3 25.5c-11.3 5.7-23.2 6.3-35.5 3.6c-15.7-3.4-29.7-11.5-41.1-23.1c-5.1-5.1-9.7-10.7-14.4-16c-4.1-4.6-8.5-8.9-13.3-12.7c-3.9-3.1-8.3-5.9-12.9-7.5c3.6-3.6 7.4-7 11.5-9.7c4.8-3.2 9.9-6.2 15-9c6.1-3.4 12.3-6.8 18.6-9.8c-5.4 9.9-8.3 20.3-6.9 31.4c.9 7.7 3.6 15.2 7.5 22z"/>
            </svg>
            <h3 class="mb-0 fs-6 text-body-emphasis">MySQL</h3>
          </div>
        </div>
     
      
      
      
      
       <!-- <div class="container px-4 py-6" id="icon-grid">
        <h1 class="#">Skills</h1>
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-4"
        >
          <div class="col d-flex align-items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.45em"
              height="1.45em"
              fill="#0E76A8"
              class="bi text-body-secondary flex-shrink-0 me-3"
              viewBox="0 0 16 16 "
            >
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
            <div>
              <h3 class="fw- mb-0 fs-6 text-body-emphasis">HTML5</h3>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.45em"
              height="1.45em"
              fill="#0E76A8"
              class="bi text-body-secondary flex-shrink-0 me-3"
              viewBox="0 0 16 16" 
            >
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
            <div>
              <h3 class="fw- mb-0 fs-6 text-body-emphasis">CSS</h3>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.45em"
              height="1.45em"
              fill="#0E76A8"
              class="bi text-body-secondary flex-shrink-0 me-3"
              viewBox="0 0 16 16"
            >
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
            <div>
              <h3 class="fw- mb-0 fs-6 text-body-emphasis">Python</h3>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.45em"
              height="1.45em"
              fill="#0E76A8"
              class="bi text-body-secondary flex-shrink-0 me-3"
              viewBox="0 0 16 16"
            >
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
            <div>
              <h3 class="fw- mb-0 fs-6 text-body-emphasis">NodeJS</h3>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.45em"
              height="1.45em"
              fill="#0E76A8"
              class="bi text-body-secondary flex-shrink-0 me-3"
              viewBox="0 0 16 16"
            >
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
            <div>
              <h3 class="fw- mb-0 fs-6 text-body-emphasis">
                Web Development
              </h3>
            </div>
          </div>
        </div>
      </div> -->
  
</section>
  </body>
</html>
<%- include("partials/footer.ejs") -%>
