<%- include("partials/header.ejs") -%>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"crossorigin="anonymous"></script>
     -->
<link rel="stylesheet" href="styles/google.css">
<body>
 
    <div class="container" style="max-width: 600px;
    padding-top: 20px;
    min-width: 200px;
    min-height:100px; 
    user-select:none;
    padding-bottom: 50px;">
    
    <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-4 pb-3 border-bottom-0"><h2>Log in</h2></div>
      <div class="modal-body p-4 pt-0">
        <% if (message && message.length > 0) { %>
    <p><%= message %></p>
  <% } %>
        <form action="/login" method="POST">
          
          <div class="form-floating mb-2">
            <input type="email" class="form-control rounded-3" id="email" name="email" required maxlength="30" autocomplete="off" placeholder="@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-2">
            <input type="password" class="form-control rounded-3" id="password" name="password" required maxlength="8" placeholder="Password">
            <label for="floatingInput">Password</label>
          </div>
           <div>
            <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase" type="submit">Login</button>
              <hr class="my-3">
              <center>
              <a href="/auth/google"> <button type="button" class="google-sign-in-button">Sign in with Google</button></a></div>
              </center><br>
              <div class="text-center">
          <p>Not Registerd?<a href="/signup" style="text-decoration: none;">&nbsp;Register</a>&nbsp;</p>
          <p>Admin?<a href="/admin" style="text-decoration: none;">&nbsp;login</a>&nbsp;</p>
        </div>
          
          
        
          </form>
          </div>
        </div>
      </div>
   </div>  
   </div>
   </div>  
</body>
</html>
<%- include("partials/footer.ejs") -%>