<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succes</title>
    <link rel="stylesheet" href="style/login.css">

</head>
<body>
    <div class="container">
        <br><br> <p><strong>Sign up Successfull Please&nbsp;<a href="/login">Login!</a></strong></p>
    </div>
</body>
</html>