@import url('https://fonts.cdnfonts.com/css/samsungone');

body {
    font-family: 'SamsungOne', sans-serif;
    user-select: none;
    background-image: radial-gradient(circle farthest-corner at 1.3% 2.8%,
            rgba(239, 249, 249, 1) 0%,
            rgba(182, 199, 226, 1) 100.2%);
            
}

.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.query1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    min-height: 20vh;
}

.querymain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

.container12 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    min-width: 250px;
    min-height: 300px;
    background-attachment: fixed;

}

.info1 {
    display: flex;
    flex-direction: column;
}

#location1 {
    display: flex;
    flex-direction: row;
    flex-direction: inherit;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    font-size: 25px;
}

#temperature1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 500;
}

#tt1 {
    font-size: 20px;
}

.sup1 {
    padding-left: 3px;
    padding-top: 26px;
    padding-right: 2px;
    font-size: 10px;
    font-weight: 50;
}

#status1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
}

#minmax1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 200;
    font-size: 17px;
}

#minmaxq1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
    font-weight: 100;
    font-size: 15px;
}

#wind1 {
    padding-left: 27px;
}

.img1 {
    padding-left: 35px;
}

date {
    padding: 8px;
    font-size: 15px;
}

#humid1 {
    padding-left: 20px;
}

.ist1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    padding-top: 10px;
    font-size: 9px;
    font-style: italic;
    font-weight: 100;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
}

#coordinates1 {
    font-size: 10px;
    font-family: 'Samsung Sharp Sans', sans-serif;
}

#coordinatesl1 {
    font-size: 10px;
    font-family: 'Samsung Sharp Sans', sans-serif;
}

.long1 {
    display: inline;
}

#home1 {
    padding-top: 10px;
}

input::placeholder {
    font-size: 12px;
    font-style: italic;
}